<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsf="http://jsf.jd.com/schema/jsf"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://jsf.jd.com/schema/jsf http://jsf.jd.com/schema/jsf/jsf.xsd">

    <jsf:registry id="jsfRegistry" protocol="jsfRegistry" index="i.jsf.jd.com"/>

    <jsf:consumer id="ssoService"
                  interface="com.jd.ssa.service.SsoService" protocol="jsf" alias="v1" timeout="10000">
    </jsf:consumer>

    <jsf:consumer id="jingBeanJsfFacade" alias="${jsf.jing_bean.facade_alias}"
                  interface="com.jd.jpos.rpc.jsf.JingBeanJsfFacade" timeout="${jsf.jing_bean.facade_timeout}"></jsf:consumer>

</beans>